<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .container{
        display: flex;
      }
      .card{
        margin:10px;
        text-align: center;
        flex:1;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <% for(var i = 0; i<users.length; i++){ %>
      <div class="card">
        <h3><a href="/users/<%=users[i].id%>"><%= users[i].name %></a></h3>
        <a href="/delete/<%=users[i].id%>">Delete</a>
      </div>
      <% } %>
    </div>

    <h3>Add a new user</h3>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="number" name="age" placeholder="Age">
      <input type="submit">
    </form>

  </body>
</html>
